plots/hist_11_1.png
plots/hist_11_5.png
plots/hist_11_10.pn
plots/mean_11.png
plots/mean_12.png
plots/mean_21.png
plots/p_11.png
plots/SD_11.png
plots/SD_12.png
plots/SD_21.png
__pycache__/schemes.cpython-310.pyc
plots/hist_11_10.png
